<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="http://v3.bootcss.com/assets/css/docs.min.css">
</head>

<body>
    <nav class="materialize-red lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">YACS 2.0 beta</a>
      </div>
    </nav>
    <div class="container">
        <div class="row">
            <form method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">Category</label>
                    <div class="col-sm-5">
                        <input type="text" name="Name_g" class="form-control" placeholder="Name_g">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">Name_s</label>
                    <div class="col-sm-5">
                        <input type="text" name="Name_s" class="form-control" placeholder="Name_s">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">Difficulty：</label>
                    <div class="col-sm-5">
                        <input type="text" name="Difficulty" class="form-control" placeholder="Difficulty">
                    </div>
                </div>                                
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">Engagement：</label>
                    <div class="col-sm-5">
                        <input type="text" name="Engagement" class="form-control" placeholder="Engagement">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">Review：</label>
                    <div class="col-sm-5">
                        <textarea name="Review" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-1">
                        <input type="submit" class="btn btn-primary red lighten-1" value="Submit">
                        <input type="reset" class="btn btn-default red lighten-1" value="Reset">
                    </div>
                </div>
            </form>
        </div>
    </div>

  <footer class="page-footer  red lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text center">ABOUT</h5>
          <p class="grey-text text-lighten-4 center">It's our mission to prevent you from getting played!</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://bobmayuze.github.io">Yuze Bob Ma</a>, <a class="orange-text text-lighten-3" href="https://github.com/gnawwaycon">Conway Wang</a>, <a class="orange-text text-lighten-3" href="https://github.com/danielschnoll">Daniel Schnoll</a>, and <a class="orange-text text-lighten-3" href="https://github.com/Hubert51">Hubert51</a>
      </div>
    </div>
  </footer> 

</body>

</html>