/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
	background: #e8f5e9;

}
nav {
	/*position: fixed;*/
	z-index: 99;
	margin-bottom: 5em;
}
.main {
	margin-top: 7em;
	height: 100vh;
}
/*.section .no-pad-bot{
	height: 100vh;
}*/
/*.header, .center, .orange-text{
	height: 100vh;	
}*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#start-button {
	margin-top: 18%
}
#description_intro {
	margin-top: 20%
}
#bread-button {
	margin-top: 5%
}
#sauce-button {
	margin-top: 12%
}
#cheese {
	margin-top: 14em;
}
#Add_New {
	margin-bottom: 2em;
}
